<div>
    <button (click)="showMethod('toSignal')" class="btn">
    toSignal
    </button>
</div>

<div>
    <button (click)="showMethod('toObservable')" class="btn">
    toObservable
    </button>
</div>

<div>
    <button (click)="showMethod('takeUntilDestroyed')" class="btn">
    takeUntilDestroyed
    </button>
</div>
<div>
    <app-to-signal *ngIf = "showVariable === 'toSignal'"></app-to-signal>
</div>
<div>
    <app-to-observable *ngIf = "showVariable === 'toObservable'"></app-to-observable>
</div>
<div>
    <app-take-until-destroyed *ngIf = "showVariable === 'takeUntilDestroyed'"></app-take-until-destroyed>
</div>